* {
    overflow-x: hidden;
}

#loading {
    background: #000;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#success {
    padding: 0.5rem;
    background-color: rgb(139, 242, 142);
    display: inline-block;
    border-radius: 0.5rem;
    position: absolute;
    overflow: hiden;
    top: 0.5rem;
    right: 0px;
    display: flex;
    align-items: center;
    transform: translateX(200%);
}

.icon_Check {
    color: rgb(0, 116, 4);
    margin-right: 5px;
}

.content {
    /* line-height: 40px; */
    font-size: 16px;
    color: rgb(0, 116, 4);
}

.time {
    width: 2rem;
    font-size: 20px;
    height: 100%;
    display: inline-block;
    text-align: center;
}

.time:hover {
    color: rgb(0, 116, 4);
}

#success.show {
    animation: show_slide 1s ease forwards;
}

#success.hiden {
    animation: hiden_slide 1s ease forwards;
    /* display: none; */
}

#fail {
    padding: 0.5rem;
    background-color: rgb(242, 139, 139);
    display: inline-block;
    border-radius: 0.5rem;
    position: absolute;
    top: 0.5rem;
    right: 0px;
    overflow: hiden;
    display: flex;
    align-items: center;
    transform: translateX(200%);
}

#fail .icon_Check {
    color: rgb(116, 27, 0);
    margin-right: 5px;
}

#fail .content {
    /* line-height: 40px; */
    font-size: 16px;
    color: rgb(116, 27, 0);
}

#fail .time {
    width: 2rem;
    font-size: 20px;
    height: 100%;
    display: inline-block;
    text-align: center;
}

#fail .time:hover {
    color: rgb(116, 27, 0);
}

#fail.show {
    animation: show_slide 1s ease forwards;
}

#fail.hiden {
    animation: hiden_slide 1s ease forwards;
    /* display: none; */
}

@keyframes hiden_slide {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes show_slide {
    0% {
        transform: translateX(100px);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}